@font-face {
    font-family: 'cera';
    src: url('../fonts/cera.ttf') format('truetype');
}
body{
    font-family: 'cera', sans-serif;
    color: #3D3D3D;
}
button{
    background-color: #46A358 ;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    text-align: center;
}

h6{
    font-size: 14px;
    font-weight: 500;
    color:#3D3D3D;
    text-transform: uppercase;
    letter-spacing: 10%;
}
h4{
    font-size: 18px;
    font-weight: 700;
    color:#3D3D3D;
    margin-block:10px
}
h1{
    font-size: 70px;
    font-weight: 900;
    color:#3D3D3D;
    text-transform: uppercase;
}
h1 span{
    color: #46A358;
}
p{
    font-size: 16px;
    font-weight: 400;
    color:#727272;
}

